{% extends 'main/base.html'%}

{% block title%}
Астех-Запад | О компании
{% endblock %}

{% block body%}

<!-- About section Start -->
        <div class="about-area pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-wrapper text-center">
                            <div class="about-contant">
                                <h2 class="title">
                                    <span>АСТех-Запад</span>
                                    О нас
                                </h2>
                                <p class="text-right">Наша компания заниматься в трех направления, такие как : изыскания, проектирование, строительство. У нас работаю все необходимые кадры для выкоплениня качественных работ. Наши конструктора, инженеры, дизайнеры, строители, проектировщики, архитекторы, сотрудники службы заказчика, работают для покрытия полного спектра услуг в вашем вопросе. Такая структура позволяет специалистам более качественно выполнять свою работу, что бы заказчик был доволен. Компания АСТех-Запад, проектирует и строит: административно-бытовые сооружения, производственные сооружения любых типов, и инженерные сооружения</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About section End -->
{% endblock %}