{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{%endblock%}</title>
    <meta name="robots" content="index, follow" />
    <meta name="description" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{%static 'assets/images/favicon.ico' %}" />
{%static ''%}
    <!-- CSS
    ============================================ -->
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{%static 'assets/css/font.awesome.css'%}" />
    <link rel="stylesheet" href="{%static 'assets/css/pe-icon-7-stroke.css'%}" />
    <link rel="stylesheet" href="{%static 'assets/css/animate.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/swiper-bundle.min.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/venobox.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/jquery-ui.min.css'%}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{%static 'assets/css/style.css'%}">
    <!-- Minify Version -->
    <!-- <link rel="stylesheet" href="assets/css/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body>
    <div class="main-wrapper">
        <header>
            <!-- Header top area start -->
            <div class="header-top">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col">
                            <div class="welcome-text">
                                <p>Астех-Запад | Изыскания - Проектирование - Строительство</p>
                            </div>
                        </div>
                        <div class="col d-none d-lg-block">
                            <div class="top-nav">
                                <ul>
                                    <li><a href="tel:+79219109630"><i class="fa fa-phone"></i>+7 921 910 96 30</a></li>
                                    <li><a href="mailto:sales@astech.build"><i class="fa fa-envelope-o"></i>sales@astech.build</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header top area end -->

            <!-- Header action area start -->
            <div class="header-bottom  d-none d-lg-block">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-3 col">
                            <div class="header-logo">
                                <a href="index.html"><img src="{%static 'assets/images/logo/logo.png'%}" alt="Site Logo" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header action area end -->

            <!-- header navigation area start -->
            <div class="header-nav-area d-none d-lg-block sticky-nav">
                <div class="container">
                    <div class="header-nav">
                        <div class="main-menu position-relative">
                            <ul>
                                <li class="dropdown"><a href="#">Главная</a>
                                </li>
                                <li><a href="">О нас</a></li>
                                <li class="dropdown position-static"><a href="">Страницы <i class="fa fa-angle-down"></i></a>
                                    <ul class="mega-menu d-block">
                                        <li class="d-flex">
                                            <ul class="d-block">
                                                <li class="title"><a href="#">1.Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="title"><a href="#">2.Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                            </ul>
                                            <ul class="d-block">
                                                <li class="title"><a href="#">3.Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                                <li><a href="">Шаблон</a></li>
                                            </ul>
                                            <ul class="d-flex align-items-center p-0 border-0 flex-column justify-content-center">
                                                <li>
                                                    <a class="p-0" href=""><img class="img-responsive w-100" src="{%static 'assets/images/banner/menu-banner.png'%}" alt=""></a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="">Контакты</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header navigation area end -->
        </header>
        {%block body%}

        {%endblock%}
        <!-- Footer Area Start -->
        <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <div class="footer-logo">
                                        <a href="/"><img src="{%static 'assets/images/logo/footer-logo.png'%}" alt=""></a>
                                    </div>
                                    <p class="about-text">ИНН: 7842178037</br>КПП: 784201001</br>ОГРН: 1197847252965</p>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Документы</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Доп. инфо</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                                <li class="li"><a class="single-link" href="">Шаблон</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-12">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Контакты</h4>
                                    <div class="footer-links">
                                        <!-- News letter area -->
                                        <p class="address">Адрес: Пр-кт Бакунина 29</p>
                                        <p class="phone">Телефон:<a href="tel:0123456789">+7 921 910-96-30</a></p>
                                        <p class="mail">Почта:<a href="mailto:sales@astech.build">sales@astech.build</a></p>
                                        <p class="map"><a href="https://goo.gl/maps/Cyw7nj6FchDZWNhr5">Показать карту</a></p>
                                        <!-- News letter area  End -->
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="line-shape-top line-height-1">
                            <div class="row flex-md-row-reverse align-items-center">
                                <div class="col-md-6 text-center text-md-start">
                                    <p class="copy-text"> © 2021 <strong>АСТЕХ-ЗАПАД</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Global Vendor, plugins JS -->
    <!-- JS Files
    ============================================ -->
    <script src="{%static 'assets/js/vendor/bootstrap.bundle.min.js'%}"></script>
    <script src="{%static 'assets/js/vendor/jquery-3.6.0.min.js'%}"></script>
    <script src="{%static 'assets/js/vendor/jquery-migrate-3.3.2.min.js'%}"></script>
    <script src="{%static 'assets/js/vendor/modernizr-3.11.2.min.js'%}"></script>
    <script src="{%static 'assets/js/plugins/jquery.countdown.min.js'%}"></script>
    <script src="{%static 'assets/js/plugins/swiper-bundle.min.js'%}"></script>
    <script src="{%static 'assets/js/plugins/scrollUp.js'%}"></script>
    <script src="{%static 'assets/js/plugins/venobox.min.js'%}"></script>
    <script src="{%static 'assets/js/plugins/jquery-ui.min.js'%}"></script>
    <script src="{%static 'assets/js/plugins/mailchimp-ajax.js'%}"></script>

    <!-- Minify Version -->
    <!-- <script src="assets/js/vendor.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/main.min.js"></script> -->

    <!--Main JS (Common Activation Codes)-->
    <script src="{%static 'assets/js/main.js'%}"></script>
</body>

</html>