{% extends 'main/base.html'%}

{% block title %}
Астех-Запад | Главная
{% endblock %}

{%block body %}
<!-- Hero/Intro Slider Start -->
        <div class="section ">
            <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
                <!-- Hero slider Active -->
                <div class="swiper-wrapper">
                    <!-- Single slider item -->
                    <div class="hero-slide-item slider-height swiper-slide bg-color1" data-bg-image="static/assets/images/hero/bg/hero-bg-1.webp">
                        <div class="container h-100">
                            <div class="row h-100">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 align-self-center sm-center-view">
                                    <div class="hero-slide-content slider-animated-1">
                                        <span class="category">Астех-Запад это:</span>
                                        <h2 class="title-1">ПРОЕКТИРОВАНИЕ,<br>
                                         СТРОИТЕЛЬСТВО,<br>
                                         ПОД КЛЮЧ.</h2>
                                        <a href="/about-us" class="btn btn-primary text-capitalize">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero/Intro Slider End -->
        <!-- Banner Area Start -->
        <div class="banner-area style-one pt-100px pb-100px">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-banner nth-child-1">
                            <img src="static/assets/images/banner/3.webp" alt="">
                            <div class="banner-content nth-child-1">
                                <h3 class="title">О Компании</h3>
                                <a href="/about-us" class="shop-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-banner nth-child-2 mb-30px mb-lm-30px mt-lm-30px ">
                            <img src="static/assets/images/banner/4.webp" alt="">
                            <div class="banner-content nth-child-2">
                                <h3 class="title">Сервисы</h3>
                                <a href="/service" class="shop-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="single-banner nth-child-2">
                            <img src="static/assets/images/banner/5.webp" alt="">
                            <div class="banner-content nth-child-3">
                                <h3 class="title">Выгода</h3>
                                <a href="" class="shop-link"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Area End -->
        <!-- Product Area Start -->
        <div class="product-area pb-100px">
            <div class="container">
                <!-- Section Title & Tab Start -->
                <div class="row">
                    <div class="col-12">
                        <h2 class=".title">Портфолио</h2>
                    </div>
                </div>
                <!-- Section Title & Tab End -->
                <div class="row">
                    <div class="col">
                        <div class="tab-content mt-60px">
                            <!-- 1st tab start -->
                            <div class="tab-pane fade show active" id="newarrivals">
                                <div class="row mb-n-30px">
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Proizvodstvennoe-zdanie-s-administrativno-bytovym-korpusom" class="image">
                                                    <img src="static/assets/images/product-image/Анино.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/Анино.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Proizvodstvennoe-zdanie-s-administrativno-bytovym-korpusom">Производственное здание с административно-бытовым корпусом</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Skladskoe-zdanie" class="image">
                                                    <img src="static/assets/images/product-image/битком.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/битком.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Skladskoe-zdanie"></br>Складское здание</br></br></a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Teplyj-sklad-dlya-hraneniya-avtozapchastej" class="image">
                                                    <img src="static/assets/images/product-image/гатчина.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/гатчина.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Teplyj-sklad-dlya-hraneniya-avtozapchastej"></br>Теплый склад для хранения автозапчастей</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Skladskoj-logisticheskij-kompleks" class="image">
                                                    <img src="static/assets/images/product-image/заневка.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/заневка.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Skladskoj-logisticheskij-kompleks"></br>Складской логистический комплекс</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Magazin-roznichnoj-torgovli" class="image">
                                                    <img src="static/assets/images/product-image/инолово.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/инолово.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Magazin-roznichnoj-torgovli"></br>Магазин розничной торговли</br></br></a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Holodnyj-sklad-dlya-hraneniya-materialov" class="image">
                                                    <img src="static/assets/images/product-image/оптиков.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/оптиков.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Holodnyj-sklad-dlya-hraneniya-materialov"></br>Холодный склад для хранения материалов</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Stanciya-tekhnicheskogo-obsluzhivaniya-dlya-bol'shegruznoj-tekhniki" class="image">
                                                    <img src="static/assets/images/product-image/решетниково.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/решетниково.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Stanciya-tekhnicheskogo-obsluzhivaniya-dlya-bolshegruznoj-tekhniki">Станция технического обслуживания для большегрузной техники</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Cekh-po-vyrashchivaniyu-foreli" class="image">
                                                    <img src="static/assets/images/product-image/рыба.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/рыба.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Cekh-po-vyrashchivaniyu-foreli"></br>Цех по выращиванию форели</br></br></a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Cekh-po-obsluzhivaniyu-legkovyh-avtomobilej-s-ABK" class="image">
                                                    <img src="static/assets/images/product-image/сто.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/сто.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Cekh-po-obsluzhivaniyu-legkovyh-avtomobilej-s-ABK"></br>Цех по обслуживанию легковых автомобилей с АБК</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Administrativno-bytovoj-korpus" class="image">
                                                    <img src="static/assets/images/product-image/шувалово.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/шувалово.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Administrativno-bytovoj-korpus"></br>Административно-бытовой корпус</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Holodnyj-sklad-dlya-hraneniya-stroitelnyh-materialov" class="image">
                                                    <img src="static/assets/images/product-image/шушары.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/шушары.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Holodnyj-sklad-dlya-hraneniya-stroitelnyh-materialov"></br>Холодный склад для хранения строительных материалов</a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Torgovyj-kompleks" class="image">
                                                    <img src="static/assets/images/product-image/янино.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/янино.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Torgovyj-kompleks"></br>Торговый комплекс</br></br></a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Cekh-holodnoj-shtampovki" class="image">
                                                    <img src="static/assets/images/product-image/обраб.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/обраб.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Cekh-holodnoj-shtampovki"></br>Цех холодной штамповки</br></br></a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Sklad-obshchego-naznacheniya" class="image">
                                                    <img src="static/assets/images/product-image/новый.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/новый.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Sklad-obshchego-naznacheniya"></br>Склад общего назначения</br></br></a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                        <!-- Single Prodect -->
                                        <div class="product">
                                            <div class="thumb">
                                                <a href="Skladskoj-kompleks" class="image">
                                                    <img src="static/assets/images/product-image/ском.webp" alt="Product" />
                                                    <img class="hover-image" src="static/assets/images/product-image/ском.webp" alt="Product" />
                                                </a>
                                            </div>
                                            <div class="content">
                                                <h5 class="title text-center"><a href="Skladskoj-kompleks"></br>Складской комплекс</br></br></a>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 1st tab end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Area End -->

        <!-- Fashion Area Start -->
        <div class="fashion-area" data-bg-image="static/assets/images/fashion/fashion-bg.webp">
            <div class="container h-100">
                <div class="row justify-content-center align-items-center h-100">
                    <div class="col-12 text-center">
                        <h2 class="title">Специальное предложение</h2>
                        <a href="/specialnoe-predlozhenie" class="btn btn-primary text-capitalize m-auto">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fashion Area End -->
        <!--Start contact-->
        <div class="contact-area">
            <div class="container">
                <div class="contact-wrapper">
                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form">
                                <div class="contact-title mb-30">
                                    <h2 class="title">Отправить заявку</h2>
                                </div>
                                <form class="contact-form-style" id="contact-form" action="static/assets/php/mail.php" method="post">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input name="name" placeholder="Имя*" type="text" />
                                        </div>
                                        <div class="col-lg-6">
                                            <input name="email" placeholder="Почта*" type="email" />
                                        </div>
                                        <div class="col-lg-12">
                                            <input name="subject" placeholder="Интересует*" type="text" />
                                        </div>
                                        <div class="col-lg-12 text-center">
                                            <textarea name="message" placeholder="Описание*"></textarea>
                                            <button class="btn btn-primary" type="submit">Отправить</button>
                                        </div>
                                    </div>
                                </form>
                                <p class="form-messege"></p>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="contact-info">
                                <div class="single-contact">
                                    <div class="icon-box">
                                        <img src="static/assets/images/icons/contact-1.png" alt="">
                                    </div>
                                    <div class="info-box">
                                        <h5 class="title">Адрес</h5>
                                        <p>Пр-кт Бакунина 29<br>
                                        литер А, пом. 18Н, оф.7</p>
                                    </div>
                                </div>
                                <div class="single-contact">
                                    <div class="icon-box">
                                        <img src="static/assets/images/icons/contact-2.png" alt="">
                                    </div>
                                    <div class="info-box">
                                        <h5 class="title">Телефон</h5>
                                        <p><a href="tel:+79219109630">+7 921 910 96 30</a></p>
                                        <p><a href="tel:+78129970196">+7 812 997 01 96</a></p>
                                    </div>
                                </div>
                                <div class="single-contact m-0">
                                    <div class="icon-box">
                                        <img src="static/assets/images/icons/contact-3.png" alt="">
                                    </div>
                                    <div class="info-box">
                                        <h5 class="title">Почта/Сайт</h5>
                                        <p><a href="mailto:sales@astech.build">sales@astech.build</a></p>
                                        <p><a href="https://www.astech.build">www.astech.build</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End contact-->
        <!-- map Area Start -->
        <div class="contact-map">
            <div id="mapid">
                <div class="mapouter">
                    <div class="gmap_canvas">
                        <iframe id="gmap_canvas" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1999.0837788580313!2d30.38241731607025!3d59.930751981873314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469631bf8fc66a5d%3A0x61dcfe74807018d2!2z0L_RgC4g0JHQsNC60YPQvdC40L3QsCwgMjksINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExNDQ!5e0!3m2!1sru!2sru!4v1650869052734!5m2!1sru!2sru"></iframe>
                        <a href="https://sites.google.com/view/maps-api-v2/mapv2"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- map Area End -->
        <!-- Feature product area End -->
{%endblock%}
