{% extends 'main/base.html'%}

{% block title %}
Астех-Запад | Специальное предложение
{% endblock %}

{%block body %}
        <!-- Thank You area start -->
        <div class="thank-you-area">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="inner_complated">
                            <div class="img_cmpted"><img src="static/assets/images/icons/cmpted_logo.png" alt=""></div>
                            <p class="dsc_cmpted"></p>
                            <ul class="dsc_cmpted">
                                <h4>asdasdasdasdasdasdasd</h4>
                                <li>-----</li>
                                <li>Визуализация объекта</li>
                                 <li>-----</li>
                                <li>Получение ГПЗУ</li>
                                <li>-----</li>
                                <li>Получение всех необходимых ТУ</li>
                                <li>-----</li>
                                <li>СтройГенплан</li>
                                <li>-----</li>
                                <li>Разработка ППР</li>
                                <li>-----</li>
                                <li>Комплект рабочей документации</li>
                            </ul>
                            <div class="btn_cmpted">
                                <a href="contact" class="shop-btn" title="">Получить подарок</a>
                            </div>
                        </div>
                        <div class="main_quickorder text-align-center">
                            <h3 class="title">Позвонить и узнать подробней</h3>
                            <div class="cntct typewriter-effect"><span class="call_desk"><a href="tel:+79219109630" id="typewriter_num">+7 921 910 96 30</a></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Thank You area end -->
{%endblock%}