{% extends 'main/base.html'%}

{% block title %}
Астех-Запад | Специальное предложение
{% endblock %}

{%block body %}
        <!-- Thank You area start -->
    <div class="main-wrapper">
        <div class="pt-100px pb-100px">
            <div class="container ">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <div class="inner_complated">
                            <div class="img_cmpted"><img src="static/assets/images/icons/cmpted_logo.png" alt=""></div>
                            <p class="dsc_cmpted"></p>
                            <ul class="dsc_cmpted">
                                <h4>При первом заказе, мы предлагаем один из наших падарков который Вы выбираете сами,
                                что мы можем предложить:</h4>
                                <li><img src="static/assets/images/line.webp" alt=""></li>
                                <li>Визуализация объекта</li>
                                 <li><img src="static/assets/images/line.webp" alt=""></li>
                                <li>Получение ГПЗУ</li>
                                <li><img src="static/assets/images/line.webp" alt=""></li>
                                <li>Получение всех необходимых ТУ</li>
                                <li><img src="static/assets/images/line.webp" alt=""></li>
                                <li>СтройГенплан</li>
                                <li><img src="static/assets/images/line.webp" alt=""></li>
                                <li>Разработка ППР</li>
                                <li><img src="static/assets/images/line.webp" alt=""></li>
                                <li>Комплект рабочей документации</li>
                            </ul>
                            <div class="btn_cmpted">
                                <a href="contact" class="shop-btn" title="">Получить подарок</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}