{% extends 'main/base.html'%}

{% block title %}
Астех-Запад | Выгода
{% endblock %}

{%block body %}
<div class="breadcrumb-area">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-12 text-center">
                        <h2 class="breadcrumb-title">Выгода</h2>
                        <!-- breadcrumb-list start -->
                        <ul class="breadcrumb-list">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active">Выгода</li>
                        </ul>
                        <!-- breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
<!--Faq Policy area start-->
        <div class="login-register-area pb-100px pt-100px faq-area">
            <div class="container">
                <div class="row">
                    <div class="ml-auto mr-auto col-lg-9">
                        <div class="checkout-wrapper">
                            <div class="inner-descripe" data-aos="fade-up" data-aos-delay="200">
                                <h4 class="title">Почему с нами выгодно работать?</h4>
                                <p>Мы знаем что такое стройка не по наслышке, в таком деле как строительство есть очень много подводных камней, начиная с этапа изысканий и правильной подачи документов, заканчивая правильным подроборм материалов, что бы сооружение через 20+ лет не развалилось. Что мы предлагаем, что бы такого не случилось?</p>

                            </div>
                            <div id="faq" class="panel-group">
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>1 .</span> <a data-bs-toggle="collapse" href="#my-account-1" class="collapsed" aria-expanded="true">Полное сопровождение</a></h3>
                                    </div>
                                    <div id="my-account-1" class="panel-collapse collapse show" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <p>Наша компания, сопровождает по всем этапам строительства, начиная с изысканий. Это позволяет не привлекать людей, которые плохо знакомы с проектом, из за чего могут возникнуть сложности начиная от траты времени и денег, заканчивая тем что вы хотели совершенно другое, что получили по итогу.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>2 .</span> <a data-bs-toggle="collapse" href="#my-account-2" aria-expanded="false" class="collapsed">Большой выбор услуг</a></h3>
                                    </div>
                                    <div id="my-account-2" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <p>У нас работают собственные конструктора, проектировщики, архитекторы, сотрудники службы заказчика, дизайнеры, инженеры, строители. Мы самостоятельно выполняем все этапы проектирования согласования для Вашего объекта. Поэтому мы можем предоставить Вам наши услуги начиная с "Проектирования" и до ввода в эксплуатацию.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>3 .</span> <a data-bs-toggle="collapse" href="#my-account-3">Экономия времени</a></h3>
                                    </div>
                                    <div id="my-account-3" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <p>Время - это важно. Нужно уметь правильно распоряжаться своим временем, именно поэтому мы отдалиди все свои внутренние процессы, что бы все этапы проходили проходили в установленные сроки и дедлайны.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default single-my-account" data-aos="fade-up" data-aos-delay="200">
                                    <div class="panel-heading my-account-title">
                                        <h3 class="panel-title"><span>4 .</span> <a data-bs-toggle="collapse" href="#my-account-4">Индивидуальный подход</a></h3>
                                    </div>
                                    <div id="my-account-4" class="panel-collapse collapse" data-bs-parent="#faq">
                                        <div class="panel-body">
                                            <p>Мы - знаем свое дело. Именно по этому, можем реализовать любые пожелания в работе и посоветовать как можно адаптировать проект под ваши цели</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{%endblock%}