{% extends 'main/base-item.html'%}

{% block title %}
Астех-Запад | Производственное здание с административно-бытовым корпусом
{% endblock %}

{%block name-image%}1.webp{%endblock%}

{%block name-item%}Производственное здание с административно-бытовым корпусом{%endblock%}

{%block descript-item%}Какое либо описание обьекта{%endblock%}

{%block ploshad-item%}1080 м2{%endblock%}

{%block adres-item%}Ленинградская область, Ломоносовский район, деревня Анино{%endblock%}

{%block type-item%}Производственное здание с административно-бытовым корпусом (АБК){%endblock%}