{% extends 'main/base-item.html'%}

{% block title %}
Астех-Запад | Станция технического обслуживания для большегрузной техники
{% endblock %}

{%block name-image%}7.webp{%endblock%}

{%block name-item%}Станция технического обслуживания для большегрузной техники{%endblock%}

{%block descript-item%}Какое либо описание обьекта{%endblock%}

{%block ploshad-item%}520 м2{%endblock%}

{%block adres-item%}Ленинградская область, Курортный район, поселок Решетниково{%endblock%}

{%block type-item%}СТО{%endblock%}