{% extends 'main/base-item.html'%}

{% block title %}
Астех-Запад | Холодный склад для хранения строительных материалов
{% endblock %}

{%block name-image%}11.webp{%endblock%}

{%block name-item%}ХОЛОДНЫЙ СКЛАД ДЛЯ ХРАНЕНИЯ СТРОИТЕЛЬНЫХ МАТЕРИАЛОВ{%endblock%}

{%block descript-item%}Какое либо описание обьекта{%endblock%}

{%block ploshad-item%}1440 м2{%endblock%}

{%block adres-item%}город Санкт-Петербург, Пушкинский район, поселок Шушары{%endblock%}

{%block type-item%}Холодный склад{%endblock%}